body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

input {
  width: 340px;
  height: 90px;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.13em;
}

.rgb {
  width: 346px;
  height: 90px;
  border: solid 1px black;
  background: #333;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  letter-spacing: 0.13em;
  font-size: 24px;
}
